body {
  font-family: 'Montserrat', sans-serif;
}

/* classi definite per tutto il css */
.list_inline {
  list-style: none;
}
.list_inline li {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  line-height: 60px;
  padding-top: 5px;
}
.list_inline li a:not(.btn_blue) {
  color: #1E3460;
}
.list_inline li a:hover {
  text-decoration: none;
}

.btn_blue {
  font-size: 12px;
  color: #0570FF;
  border-color: #0570FF;
}
.btn_blue:hover {
  color: white;
  background: #0570FF;
}
/* /classi definite per tutto il css */
/* parte superiore dell'header */
.header_top {
  width: 100%;
  height: 60px;
}

#logo {
  line-height: 60px;
}
#logo_icon {
  width: 180px;
}

#hamburger_menu {
  line-height: 60px;
}
.hamburger_icon {
  color: #3A8AFF;
  font-size: 30px;
  margin-top: 16px;
}

.header_top .btn_blue {
  margin-bottom: 5px;
}
/* /parte superiore dell'header */
/* parte inferiore dell'header */
.header_bottom {
  background-image: url("../img/sfondo-jumbo.svg");
}

.header_bottom h1 {
  color: #FFFFFF;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 50px;
}

.header_bottom p {
  color: #7198FF;
  font-size: 22px;
  font-weight: 700;
}

.get_started {
  text-align: center;
  background: white;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.get_started h3 {
  color: #031C4E;
  font-weight: 700;
}
.get_started h4 {
  color: #006AFF;
  font-size: 22px;
  font-weight: 700;
}
.get_started input {
  width: 100%;
}
.btn_account {
  width: 100%;
  margin-bottom: 18px;
  font-weight: 700;
  color: white;
  background: #579AFF;
}
.btn_account:hover {
  color: white;
  background: #1633ff;
}
.btn_google {
  width: 100%;
  font-weight: 700;
  color: #626262;
}
.btn_google:hover {
  background: white;
}
p#terms_service {
  color: #2E4069;
  font-size: 12px;
}
p#terms_service a {
  color: #0D73FF;
}
/* /parte inferiore dell'header */
/* parte centrale della pagina */
/* prima sezione della pagina */
#businesses_trust {
  text-align: center;
  background: #F3F5F9;
  padding-top:30px;
}

#businesses_trust h5 {
  color: #8691A8;
  font-weight: 700;
  padding-bottom: 20px;
}
#businesses_trust p {
  margin-top: 20px;
}
#businesses_trust p  a > i {
  font-size: 10px;
}
/* prima sezione della pagina */
/* seconda sezione della pagina */
#deploy_scale {
  background: white;
  padding-bottom: 50px;
}

#deploy_title {
  color: #031C4E;
  font-weight: 700;
}
#deploy_paragraph {
  color: #747F9A;
  font-weight: 700;
}
#deploy_scale h5 {
  color: #031C4E;
}
#deploy_scale p {
  color: #747F9A;
}
.list_column {
  list-style: none;
  padding: 0;
}
.list_column li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.list_column li a {
  color: #C5C9D3;
  font-weight: 700;
}
.list_column li:hover a {
  text-decoration: none;
}
.container_list_col {
  margin-top: 50px;
  border-left: 2px solid #949DAF;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* parte media query della pagina */
@media screen and (max-width: 768px) {
  #deploy_title,
  #deploy_paragraph {
    padding: 0 10px;
  }
}
@media screen and (min-width: 768px) {
  .get_started {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #deploy_paragraph {
    margin-bottom: 50px;
  }
  .container_list_col {
    margin-top: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #deploy_title {
    padding-top: 20px;
  }
  #deploy_paragraph {
    padding: 0 40px;
  }

}
@media screen and (min-width: 993px) {
  #deploy_title {
    padding-top: 30px;
  }
  #deploy_paragraph {
    padding: 0 80px;
  }
}
